<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit genre</title>
</head>
<body>

<form id="edit-form" th:action="@{/genre/{id}/edit(id=${genreDto.id})}" th:method="post" action="edit-genre-page.html">
    <h1>Genre</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${genreDto.id}" value="1"/>
    </div>

    <div class="row">
        <label for="title-input">Name:</label>
        <input id="title-input" name="name" type="text" th:value="${genreDto.name}" value="Default Name"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>